/* LESS Document */
/* LESS Document */
@mobile-width : ~("min-width: 320px");
@tablet-width : ~("min-width: 768px");
@destkop-width : ~("min-width: 1200px");
/* LESS Document */
/* LESS Document */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), url("../fonts/ptsans.woff2") format("woff2"), url("../fonts/ptsans.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "PT Sans";
  src: local("PT Sans"), url("../fonts/ptsansbold.woff2") format("woff2"), url("../fonts/ptsansbold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
body {
  background: red;
  color: #2f1a36;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  line-height: 18px;
}
img {
  max-width: 100%;
  height: auto;
}
.header {
  background: #fff;
}
.header__logo a {
  position: relative;
  font-family: "Arial", sans-serif;
  text-align: center;
  line-height: 27px;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 46px;
  display: block;
  float: none;
  color: #2f1a36;
  margin: auto;
  left: auto;
  top: auto;
  padding-bottom: 20px;
  padding-top: 20px;
}
.header__menu {
  font-family: "Arial", sans-serif;
  font-size: 18px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: #2f1a36;
  font-weight: 700;
  line-height: 27px;
}
.header__main {
  padding: 0;
  margin: auto;
  position: relative;
  top: auto;
  right: auto;
  height: 300px;
  text-align: center;
}
.header__menu-hamburger {
  padding: 0 100vw 35px;
}
.header__menu-hamburger:hover {
  background: #F5F5F5;
  border-right: 2px solid #DCDCDC;
}
.header__menu-hamburger:before {
  content: "";
  position: absolute;
  left: 48%;
  top: 210px;
  width: 1em;
  height: 0.15em;
  background: #000;
  -webkit-box-shadow: 0 0.25em 0 0 black,
    0 0.5em 0 0 black;
          box-shadow: 0 0.25em 0 0 black,
    0 0.5em 0 0 black;
}
.header__navigation {
  display: block;
  float: none;
  margin: auto;
  vertical-align: auto;
}
.header__menu-btn {
  padding: 10px;
}
.header__menu-btn:hover {
  background: #F5F5F5;
  border-right: 2px solid #DCDCDC;
}
.header__active {
  border-right: 4px solid #2f1a36;
}
