.gallery__main {
	display: block;
	overflow: hidden;
	height: auto;
	width: auto;
	bottom: auto;
	margin: 0;
	top: 390px;
}
	.gallery__img img {
	 width: 100vw;
	 height: auto;
	 object-fit: cover;
}
.gallery__img:hover {
	opacity: 0.4;
	-webkit-filter: blur(5px);
     -moz-filter: blur(5px);
       -o-filter: blur(5px);
      -ms-filter: blur(5px);
          filter: blur(5px);
}
	